{% assign display_top_reasons = settings.top_reasons_display %}
{% assign top_reasons_position = settings.top_reasons_display_position %}
{% assign display_top_reasons_counter = settings.display_top_reasons_counter %}
{% assign visible_reasons_count = 0 %}
{% assign display_top_reasons_text = settings.display_top_reasons_text %}
{% assign top_reason_text = settings.top_reasons_text %}

{% for i in (1..7) %}
    {% assign reason_image = 'top_reasons_' | append: i | append: '_display' %}

    {% if settings[reason_image] %}
        {% assign visible_reasons_count = visible_reasons_count | plus: 1 %}
    {% endif %}
{% endfor %}

{% if display_top_reasons and visible_reasons_count > 0 %}
    <div class="product-reasons product-reasons--{{ position }}{% if position == 'right' and top_reasons_position == 'left' %} product-reasons--show-mobile{% endif %}">
        {% if display_top_reasons_text %}
            <h4 class="product-reasons__heading">
                {% if display_top_reasons_counter %}
                    {{ visible_reasons_count }}
                {% endif %}

                {% if top_reason_text != blank %}
                    {{ top_reason_text }}
                {% endif %}
            </h4>
        {% endif %}

        <ul class="product-reasons__list">
            {% for i in (1..7) %}
                {% assign reason = 'top_reasons_' | append: i %}
                {% assign reason_image_display = 'top_reasons_' | append: i | append: '_display' %}
                {% assign reason_image = 'top_reasons_' | append: i | append: '_image.png' %}

                {% unless settings[reason_image_display] %}
                    {% continue %}
                {% endunless %}

                <li class="product-reasons__reason">
                    <picture class="lazy">
                        <img data-srcset="{{ reason_image | asset_img_url: '100x' }} 1x, {{ reason_image | asset_img_url: '200x' }} 2x"
                             srcset="{{ reason_image | asset_img_url: '40x' }}"
                             alt="Image of {{ settings[reason] | escape }}">
                    </picture>

                    {% if display_top_reasons_text %}
                        <div class="product-reasons__reason-text{% if settings[reason] contains '$x' %} js-product-motivator-text{% endif %}"
                             data-motivator-text="{{- settings[reason] -}}">

                            <span{% if settings[reason] contains '$x' %} class="js-product-motivator-text-main"{% endif %}>
                                {{- settings[reason] -}}
                            </span>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
