{%- assign blocks = section.blocks -%}
{%- assign bg_color = section.settings.footer_first_row_bg_color -%}
{%- assign font_color = section.settings.footer_first_row_font_color -%}
{%- assign font_size_heading = section.settings.footer_first_row_font_size_heading -%}
{%- assign font_style_heading = section.settings.footer_first_row_font_style_heading -%}

{%- capture styles -%}
	--bg-color: {{ bg_color }};
	--font-color: {{ font_color }};
	--font-size-heading: {{ font_size_heading }};
	--font-style-heading: {{ font_style_heading }}
{%- endcapture -%}
{%- assign styles = styles | strip_newlines -%}

{%- capture items -%}
	{%- for block in blocks -%}
		{%- assign image = block.settings.image -%}
		{%- assign heading = block.settings.heading -%}
		{%- assign link = block.settings.link -%}

		{%- if image != blank or heading != blank -%}
			<div class="icon-strip__item">
				{%- if image != blank -%}
					{%- capture image_html -%}
						<picture class="lazy">
							<source srcset="{{- image | img_url: '60x' -}} 1x, {{- image | img_url: '120x' -}} 2x" media="(max-width: 480px)">
							<img data-srcset="{{- image | img_url: '80x' -}} 1x, {{- image | img_url: '160x' -}} 2x"
								 srcset="{{- image | img_url: '20x' -}}"
								 class="icon-strip__item-image"
								 alt="{{- image.alt -}}">
						</picture>
					{%- endcapture -%}

					{%- if link != blank -%}
						<a href="{{- link -}}">
							{{- image_html -}}
						</a>
					{%- else -%}
						{{- image_html -}}
					{%- endif -%}
				{%- endif -%}

				{%- if heading != blank -%}
					<h4 class="icon-strip__item-title">
						{% if link != blank %}
							<a class="icon-strip__item-title-link" href="{{- link -}}">
								{{- heading -}}
							</a>
						{%- else -%}
							{{- heading -}}
						{%- endif -%}
					</h4>
				{%- endif -%}
			</div>
		{%- endif -%}
	{%- endfor -%}
{%- endcapture -%}

{%- if blocks.size > 0 and items -%}
	<div class="icon-strip" style="{{- styles -}}">
		<div class="container icon-strip__container">
			<div class="icon-strip__wrapper">
				{{- items -}}
			</div>
		</div>
	</div>
{%- endif -%}

{% schema %}
{
	"name": "Icon strip",
	"class": "index-section",
	"max_blocks": 4,
	"settings": [
		{
			"type": "header",
			"content": "Look And Feel"
		},
		{
			"type": "color",
			"id": "footer_first_row_bg_color",
			"label": "Background Color",
			"default": "#f1f4f5"
		},
		{
			"type": "color",
			"id": "footer_first_row_font_color",
			"label": "Font Color",
			"default": "#6e797a"
		},
		{
			"type": "select",
			"id": "footer_first_row_font_size_heading",
			"label": "Heading Font Size",
			"options": [
				{
					"value": "7px",
					"label": "7px"
				},
				{
					"value": "8px",
					"label": "8px"
				},
				{
					"value": "9px",
					"label": "9px"
				},
				{
					"value": "10px",
					"label": "10px"
				},
				{
					"value": "12px",
					"label": "12px"
				},
				{
					"value": "14px",
					"label": "14px"
				},
				{
					"value": "16px",
					"label": "16px"
				},
				{
					"value": "18px",
					"label": "18px"
				},
				{
					"value": "20px",
					"label": "20px"
				},
				{
					"value": "22px",
					"label": "22px"
				}
			],
			"default": "12px"
		},
		{
			"type": "select",
			"id": "footer_first_row_font_style_heading",
			"label": "Hading Font Style",
			"options": [
				{
					"value": "300",
					"label": "Lighter",
					"group": "Font Style"
				},
				{
					"value": "400",
					"label": "Normal",
					"group": "Font Style"
				},
				{
					"value": "600",
					"label": "Bold",
					"group": "Font Style"
				},
				{
					"value": "700",
					"label": "Bolder",
					"group": "Font Style"
				}
			],
			"default": "600"
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "icon columns",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading"
				},
				{
					"type": "text",
					"id": "link",
					"label": "Link"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Icon strip",
			"category": "Image",
			"blocks": [
				{
					"type": "image"
				}
			]
		}
	]
}
{% endschema %}
